<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>添加学生</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/add_student.js"></script>
</head>
<body>
<div style="margin: 20px 0;"></div>
<div class="easyui-panel" title="添加学生"
     style="width: 700px; height: 500px;">
    <div style="padding: 40px 60px 20px 60px;">
        <form id="form" class="easyui-form">
            <table cellpadding="10">
                <tr>
                    <td>学号:</td>
                    <td><input class="easyui-textbox" type="text" id="number"
                               data-options="required:true"></td>
                </tr>
                <tr>
                    <td>姓名:</td>
                    <td><input class="easyui-textbox" type="text" id="userName"
                               data-options="required:true,validType:'length[3,16]'"></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input class="easyui-textbox" type="password"
                               id="password"
                               data-options="required:true,validType:'length[6,16]'"></td>
                </tr>
                <tr>
                    <td>确认密码:</td>
                    <td><input class="easyui-textbox" type="password"
                               id="confirmPassword" required="true"></td>
                </tr>
                <tr>
                    <td>班级:</td>
                    <td><select class="easyui-combobox" id="classInfo"
                                style="width: 120px;">
                        <option value="1701">1701班</option>
                        <option value="1702">1702班</option>
                        <option value="1703">1703班</option>
                        <option value="1704">1704班</option>
                    </select></td>
                </tr>
            </table>
        </form>

        <div style="text-align: left; padding: 20px; margin-top: 50px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitData()">添加</a> &nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetForm()">重置</a>
        </div>
    </div>
</div>
</body>
</html>