<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告查询</title>
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/select_notice.js"></script>
</head>
<body onload="init()">
    <div id="name" style="font-size: 20px;"></div>
    <div id="title" style="font-size: 12px"></div>
    <p id="content"></p>
    <div class="text" style="text-align: end">
        <div id="stuName"></div>
        <div id="time"></div>
    </div>
</body>
</html>