<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.text_project.dao.DepartmentDao">
    <resultMap id="department" type="Department">
        <result property="id" column="depart_id"/>
        <result property="name" column="depart_name"/>
        <result property="remark" column="depart_remark"/>
    </resultMap>

    <select id="getDepartByCondition" resultMap="department">
        select ID depart_id,name depart_name,remark depart_remark from dept_inf
        <where>
            <if test="department.id!=0">
                ID=#{department.id}
            </if>
            <if test="department.name!=null and department.name!=''">
                name=#{department.name}
            </if>
            <if test="department.remark!=null and department.remark!=''">
                remark=#{department.remark}
            </if>
            and ID!=1
        </where>
        limit #{pageInfo.start},#{pageInfo.rows}
    </select>

    <delete id="deleteById" parameterType="Department">
        delete from dept_inf where ID=#{id}
    </delete>

    <update id="updateById" parameterType="Department">
        update dept_inf
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
        </set>
        where ID=#{id}
    </update>

    <insert id="addDepart" parameterType="Department">
        insert into dept_inf(name,remark) value(#{name},#{remark});
    </insert>

    <select id="getDeptList" parameterType="Department" resultMap="department">
        select ID depart_id,name depart_name,remark depart_remark  from dept_inf where ID!=1
    </select>

    <select id="getCount" parameterType="Department" resultType="int">
        select count(*) from dept_inf
        <where>
            <if test="id!=0">
                ID=#{id}
            </if>
            <if test="name!=null and name!=''">
                name=#{department.name}
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{department.remark}
            </if>
            and ID!=1
        </where>
    </select>
</mapper>